#navbar {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  width: 35%;
  float: right;
}

#logo {
  width: 7%;
  margin: 1.5%;
}
  
.navlink {
  font-size: 150%;
  font-family: "Slabo 27px";
  text-decoration: none;
  color: black;
}

#footer {
  display: flex;
  width: 50%;
  bottom: 5%;
  left: 3%;
  position: fixed;
}


#directory {
  border-radius: 100%;
  background-color: aquamarine;
  width: 9%;
  padding: 3%;
}

#welcome {
  background-color: white;
  font-family: "Slabo 27px";
  font-size: 100px;
}

.footerlink {
  font-size: 100%;
  font-family: "Slabo 27px";
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  line-height: 0;
  /*
  For left aligned text
  margin-left: 25%;
  margin-right: 50%;
  */
}

#copyRdiv {
  border-radius: 100%;
  background-color: aquamarine;
  width: 9%;
  padding: 2%;
}

#totopdiv {
  bottom: 5%;
  left: 94%;
  position: fixed;
}

a {
	position: relative;
}

a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: visible;
	transform: scaleX(0);
	transition: all 0.3s;
}

a:hover:before {
	visibility: visible;
	transform: scaleX(0.97);
}

/* For to-top button */
html {
  scroll-behavior: smooth;
}

#to-top {
  float: right;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 200%;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

#to-top:hover {
  background-color: aquamarine;
}