@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  scroll-behavior: smooth;
}

/* Light and Dark Theme Variables */
[data-theme='light'] {
  --color-bg: rgb(234, 254, 255);
  --color-text: rgb(1, 20, 21);
  --color-accent: rgb(0, 191, 211);
  --color-border: rgb(18, 118, 128);
}

[data-theme='dark'] {
  --color-bg: rgb(1, 20, 21);
  --color-text: rgb(234, 254, 255);
  --color-accent: rgb(0, 191, 211);
  --color-border: rgb(18, 118, 128);
}

body {
  line-height: 1.75;
  font-size: 1.25em;
  font-family: 'Lato', Arial, sans-serif;
  /* Sets the color scheme to system default*/
  color-scheme: light dark;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.content-container {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  display: block;
}

/* Link Hover Effect */
a {
	position: relative;
  text-decoration: none;
  color: var(--color-accent);
}

a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: visible;
	transform: scaleX(0);
	transition: all 0.3s;
}

a:hover:before {
	visibility: visible;
	transform: scaleX(0.98);
}

/* SVG Icon Hover Effect */
a:has(svg) {
  transition: transform 0.15s ease-in-out;
}

a:has(svg, img)::before {
  display: none;
}

a:has(svg):hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }

  .content-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}