---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>...</p>
	<p>Hi, I'm Awwab Mahdi, and I'm a software developer.</p>
	<p>Currently under construction. Please check back later.</p>

</BaseLayout>