---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

	<p>Growing researcher and developer, looking to apply experience with machine learning to critical services. Combining a strong foundation in Computer Science and Cybersecurity with skills in document analysis, NLP, and MLOps. Ultimately aiming to work towards establishing the long-term future of humanity.</p>

</BaseLayout>