---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Welcome to my website";
---
<BaseLayout pageTitle={pageTitle}>

	<h2>About</h2>
	<p>Hey there!</p>
	<p>My name is Awwab Mahdi and I'm a software developer and researcher.</p>
	<p>I'm 23 years old and live in Ottawa, Canada.</p>
	<p>I graduated from Carleton University in February 2026, with an Honours Bachelors of Computer Science degree.</p>
	<p>I spend a lot of time reading, but you may also find me hiking a trail, building software prototypes, or baking banana bread.</p>

	<h2>Portfolio</h2>
	<p>Here is some of my work.</p>

	<h2>Blog</h2>
	<p>Read my latest posts.</p>

	<h2>Contact</h2>
	<p>Get in touch with me.</p>
	<p>Send me an email at my firstname . lastname @ Googlemail . com</p>
	<ul>
		<li><a href="http://github.com/obliviance" target="_blank" rel="noopener noreferrer">GitHub↗</a></li>
		<li><a href="http://linkedin.com/in/AwwabM" target="_blank" rel="noopener noreferrer">LinkedIn↗</a></li>
	</ul>

</BaseLayout>