---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Welcome to my website</h1>


	<h2>About</h2>
	<p>Growing researcher and developer, looking to apply experience with machine learning to critical services. Combining a strong foundation in Computer Science and Cybersecurity with skills in document analysis, NLP, and MLOps. Ultimately aiming to work towards establishing the long-term future of humanity.</p>

	<h2>Portfolio</h2>
	<p>Here is some of my work.</p>

	<h2>Blog</h2>
	<p>Read my latest posts.</p>

	<h2>Contact</h2>
	<p>Get in touch with me.</p>
	<p>Send me an email at my firstname . lastname @ Googlemail . com</p>
	<ul>
		<li><a href="http://github.com/obliviance" target="_blank" rel="noopener noreferrer">GitHub↗</a></li>
		<li><a href="http://linkedin.com/in/AwwabM" target="_blank" rel="noopener noreferrer">LinkedIn↗</a></li>
	</ul>

</BaseLayout>