---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Welcome to my website</h1>
	<p>...</p>
	<p>Currently under construction. Please check back later.</p>
</BaseLayout>