---
interface EducationItem {
    id: string;
    hidden: boolean;
    options: {
        showLinkInTitle: boolean;
    };
    school: string;
    degree: string;
    area: string;
    grade: string;
    location: string;
    period: string;
    website: {
        url: string;
        label: string;
    };
    description: string;
}

interface Props {
    education: EducationItem;
}

const { education } = Astro.props;

---

<style>
    .education-container {
        padding: 2rem;
        border: var(--global-border);
        border-radius: var(--global-radius);
        background-color: color-mix(in srgb, var(--color-accent), transparent 85%);
    }
    .education-header {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }
    .education-details {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="education-container">
    <div class="education-header">
        <span class="university">{education.school}</span>
        <span class="period">{education.period}</span>
    </div>
    <div class="education-details">
        <span class="degree">{education.degree}</span>
        <span class="area">{education.area}</span>
    </div>
</div>