---
import Logo from "../assets/favicon.svg";
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
---

<style>
  #logo-container {
    justify-self: end;
    margin-right: 2rem;
  }
  #logo {
    width: 3em;
    height: auto;
    transition: var(--global-transition);
  }
  #logo:hover {
    transform: scale(var(--global-scale));
  }
  footer {
    display: flex;
    justify-content: space-between;
    max-width: 80ch;
    margin: auto;
    text-align: left;
    padding: 1rem 1rem;
    border-top: 1px solid var(--color-accent);
    margin-top: 2%;
  }
  footer p {
    font-size: 0.8em;
    text-align: center;
  }
  #icon-container {
    justify-self: start;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
</style>

<footer>
  <div id="logo-container">
    <a href="/">
      <Logo width="24" height="24" id="logo" />
    </a>
  </div>
  <p class="footer-text">
    &copy; {new Date().getFullYear()} Awwab Mahdi. All rights reserved.
  </p>
  <div id="icon-container">
    <a
      href="http://www.linkedin.com/in/AwwabM"
      target="_blank"
      rel="noopener noreferrer"
    >
      <LinkedIn width="1.5em" height="1.5em" />
    </a>
    <a
      href="http://github.com/obliviance"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub width="1.5em" height="1.5em" />
    </a>
  </div>
</footer>
