---

---

<style>
  footer {
    max-width: 80ch;
    margin: auto;
    text-align: left;
    padding: 1rem 1rem;
    border-top: 1px solid var(--color-border);
    margin-top: 2%;
  }
  footer p, footer nav {
    font-size: 0.8em;
  }
</style>

<footer>
  <nav>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/portfolio/">Portfolio</a> |
    <a href="/blog/">Blog</a> |
    <a class="nav-link" href="/contact/">Contact</a> |
    <a class="nav-link" href="/awwab-mahdi-resume.pdf" target="_blank" rel="noopener noreferrer">Resume↗</a>
  </nav>
  <p class="footer-text">
    &copy; {new Date().getFullYear()} Awwab Mahdi. All rights reserved.
  </p>
</footer>
