---

---

<style>
  footer {
    max-width: 80ch;
    margin: auto;
    text-align: left;
    padding: 1rem 1rem;
    border-top: 1px solid var(--color-border);
    margin-top: 2%;
  }
  footer p, footer nav {
    font-size: 0.8em;
  }
</style>

<footer>
  <nav>
    <a href="/personal-website/">Home</a> |
    <a href="/personal-website/about/">About</a> |
    <a href="/personal-website/portfolio/">Portfolio</a> |
    <a href="/personal-website/blog/">Blog</a>
  </nav>
  <p class="footer-text">
    &copy; {new Date().getFullYear()} Awwab Mahdi. All rights reserved.
  </p>
</footer>
