---
import OpenInNewTab from "./icons/OpenInNewTab.astro";

/* Extracts all post metadata for each post in pages/posts/ */
const posts = import.meta.glob("../pages/posts/*.md", { eager: true });
const sortedPosts = Object.entries(posts)
    .map(([path, module]: [string, any]) => {
        const filename = path.split("/").pop();
        const slug = filename ? filename.replace(".md", "") : "";
        return { url: `/posts/${slug}`, frontmatter: module.frontmatter };
    })
    .sort(
        (a, b) =>
            new Date(b.frontmatter.pubDate).valueOf() -
            new Date(a.frontmatter.pubDate).valueOf(),
    );
---

<style>
    #post-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        /*padding: 2rem;
        border: var(--global-border);
        border-radius: var(--global-radius);
        background-color: color-mix(
            in srgb,
            var(--color-accent),
            transparent 85%
        );*/
    }
    .post {
        background-color: color-mix(
            in srgb,
            var(--color-accent),
            transparent 90%
        );
        border-radius: var(--global-radius);
        padding: 0.5rem 1rem;
    }
</style>
<div id="post-container">
    {
        sortedPosts.map((post) => (
            <div class="post">
                <a href={post.url}>{post.frontmatter.title}</a><OpenInNewTab />
                <span>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-US",
                        { year: "numeric", month: "short", day: "numeric" },
                    )}
                </span>
                <br />
            </div>
        ))
    }
</div>
