---
const { publications } = Astro.props;
---

<section>
  <h2>Publications</h2>
  {publications.items.filter((item: { visible: boolean; }) => item.visible).map((item: { name: string; publisher: string; date: string; }) => (
    <div>
      <h3>{item.name}</h3>
      <p>{item.publisher} - {item.date}</p>
    </div>
  ))}
</section>