---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import favicon from "../assets/favicon.svg";
import Sidebar from "../components/Sidebar.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const { pageTitle, hideSidebar = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		{!hideSidebar && (
			<span id="sidebar">
				<Sidebar />
			</span>
		)}
		<ThemeToggle />
		<div id="content-container">
			<slot />
		</div>

		<button
			id="to-top"
			onclick="window.scrollTo({top: 0, behavior: 'smooth'});">↑</button
		>

		<Footer />
	</body>
</html>

<style>
	#columns {
		display: flex;
		flex-direction: row;
		margin-left: 200px;
	}
	#to-top {
		position: fixed;
		z-index: 1000;
		bottom: 3rem;
		right: 3rem;
		width: 2em;
		height: 2em;
		border-radius: 100%;
		border: none;
		transition: var(--global-transition);
		cursor: pointer;
		color: var(--color-bg);
		background-color: var(--color-text);
	}

	#to-top:hover {
		background-color: var(--color-accent);
		transform: scale(var(--global-scale));
	}

	/* Mobile Responsiveness */
	@media (max-width: 1200px) {
		#sidebar {
			display: none;
		}
	}
</style>
